*~
.ido.last
.smex-items
/*.org_archive
/.mc-lists.el
/.org-id-locations
/bookmarks
/data/
/init.dvi
/init.fdb_latexmk
/init.html
/init.pdf
/init.tex
/server/server
/session.*
/tramp
\#*
ac-comphist.dat
auto-save-list/*
backup/
elpa/
eshell
eshell/.mc-lists.el
packages/
tmp/
tutorial
url/
