[submodule "git/orgmode-mediawiki"]
	path = git/orgmode-mediawiki
	url = git@github.com:craftkiller/orgmode-mediawiki.git
[submodule "git/init-loader"]
	path = git/init-loader
	url = git@github.com:emacs-jp/init-loader.git
