# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# Others
.ido.last
.smex-items
/*.org_archive
/.mc-lists.el
/.org-id-locations
/bookmarks
/data/
/init.dvi
/init.fdb_latexmk
/init.html
/init.pdf
/init.tex
/server/server*
/session.*
/tramp
\#*
ac-comphist.dat
auto-save-list/*
backup/
eshell
eshell/.mc-lists.el
packages/
tmp/
tutorial
url/
custom.el
*.pyc
/plugins-enabled/
recentf
