[submodule "lisp/haml-mode"]
	path = lisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "lisp/scss-mode"]
	path = lisp/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
