;;; PACKAGE1.el --- <description>
;;; Commentary:
;;; Code:

;; ================================================================
;; パッケージのインストール
;; ================================================================
(dolist (package '(PACKAGE1 PACKAGE1))
  (when (not (package-installed-p package))
    (package-install package)))
;;; PACKAGE1.el ends here
